<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>820032055330-77th952m61sjocq3g5nmi3ftmjs5tr8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820032055330-77th952m61sjocq3g5nmi3ftmjs5tr8v</string>
	<key>API_KEY</key>
	<string>AIzaSyD2MkD5rB6MNc8r3BQRoVQwDBOU_yQVsj8</string>
	<key>GCM_SENDER_ID</key>
	<string>820032055330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tung.annie.c4q.Wish-List</string>
	<key>PROJECT_ID</key>
	<string>wish-list-ebc65</string>
	<key>STORAGE_BUCKET</key>
	<string>wish-list-ebc65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:820032055330:ios:fe0fd642409d3448</string>
	<key>DATABASE_URL</key>
	<string>https://wish-list-ebc65.firebaseio.com</string>
</dict>
</plist>